!!! 5
%html
  %head
    %title A Random Word for You
    %link{:rel => "stylesheet", :type => "text/css", :href => "style.css"}
  %body
    %h1 Your random word is:
    .word
      %p= @word
    %h2= "#{@count.to_s} words total"
