
html {
  text-align: center;
  background-color: #424045;
}

body {
  margin: auto;
  padding-top: 40px;
  padding-left: auto;
  padding-right: auto;
}

h1, h2 {
  font-family: Georgia "Times New Roman" serif;
  font-weight: normal;
  font-size: 3em;
  color: #8F69D1;
}

h2 {
  font-size: 1.5em;
}

.word {
  background-color: #A6A5A8;
  border-radius: 30px;
  -webkit-border-radius: 70px;
  -moz-border-radius: 70px;
  padding: 20px 50px;
  margin: .25em 1em;
  font-family: Georgia "Times New Roman" Serif;
  color: #4C2A87;
  font-weight: bold;
  font-size: 7em;
}
